name: Stidents Api Pipeline

on: [push]

jobs:
  hello:
    runs-on: ubuntu-latest
    
    steps:
      - name: "Say Hello"
        env:
          PLANET: Earth
          NAME: {{ secrets.NAME }}
        run: echo "Hello $TEste from planet $PLANET"

  listing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: List all files
        run: ls

